CompileFlags:
  Add: [-std=c++17, -Wall, -Wextra]
  Remove: -W*
  Compiler: g++

Diagnostics:
  ClangTidy:
    Add: [modernize*, performance*, readability*]
    Remove: [readability-identifier-length, readability-magic-numbers]

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes 